<h1>Your booking</h1>

<ul>
  <li>Your Pokemon <%=@booking.pokemon.name%></li>
  <li>The user : <%= @booking.user.email %>  </li>
</ul>

<p><%= link_to 'Add a review', new_booking_review_path(@booking) %></p>


