<div class="container ptpb">

<div class="container">
  <div class="cards">

    <div class="card" style="width: 30rem">
      <h1>MY BOOKINGS</h1>
      <div class="img-pokemons justify-content-around">
        <% @bookings.each do |booking| %>
          <div class="pokemon-div">
            <%= link_to booking_path(booking) do %>
              <%= cl_image_tag booking.pokemon.photo.key, class: 'round-pokemon' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card" style="width: 30rem">
      <h1>MY POKEMONS</h1>
      <div class="img-pokemons justify-content-around">
        <% @pokemons.each do |pokemon| %>
          <div class="pokemon-div">
            <%= link_to pokemon_path(pokemon) do %>
              <%= cl_image_tag pokemon.photo.key, class: 'round-pokemon'  %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card" style="width: 30rem">
      <h1>MY INFOS</h1>
      <p>Profile picture / Change profile picture</p>
      <p>User email / Edit email</p>
      <p>Number of bookings</p>
      <p>Number of pokemons</p>
    </div>

  </div>
</div>

</div>


