<h1>My bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.pokemon.name %>
      rented from
      <%= booking.pokemon.user.email %>
    </li>
  <% end %>
</ul>

<h1>My pokemons</h1>

<ul>
  <% @pokemons.each do |pokemon| %>
    <li><%= pokemon.name %>
    </li>
  <% end %>
</ul>
