.calendar_show{
  display: flex;
}

.calendar_container {
  width: 100%;
  box-shadow: 10px 10px 40px grey;
}

.calendar_form {
  width: 20%;
}

.cursor-past{
  color: #d0ceceba;
}

.pokemon_show {
  background-color: yellow;
}

.simple-calendar {
  margin: 20px;
  text-align: center;

  .user-choice {
    background-color: #ffef0096;
  }

  .day {
  }

  .wday-0 {color: red;  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {color: red;}

  .today .round{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-color: #b4e6b4;
    border-radius: 70px;

  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {display: none;}
  .next-month { }
  .current-month {}

  .has-events {}


}

