.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  padding-bottom: 32px;
  margin: 15px;
  height: 400px;
}

.card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cards {
  display: flex; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
}

.card img {
  height: 120px;
  width: 120px;
}

.card .btn {
  background-color: gold;
  border: 0px;
  position: absolute;
  bottom: 20px; 
}

.card .element {
  height: 20px;
  width: 20px;
}