.pokemon-image {
  align-items: center;
  height: 380px;
  background-color: white;
  border: 1px solid darkgrey;
}
.product-img {
  height: 300px;
  display: block;
  margin: auto;
  padding-top: 50px;
}

.pkm-description {
  background-color: white;
  border: 1px solid darkgrey;
  padding: 30px;
  height: 240px; 
}

.pkm-trainer {
  background-color: white;
  border: 1px solid darkgrey;
  padding: 30px;
  padding-top: 40px; 
  margin-top: 30px; 
  height: 110px; 
  position: relative;
  margin-bottom: 30px;
}

.pkm-trainer .avatar {
  position: absolute;
  top: 35px
}

.pkm-trainer p {
  position: absolute;
  top: 40px;
  left: 100px; 
}

.pkm-trainer .btn {
  position: absolute;
  margin-top: -5px; 
  right: -500px; 

}

.pkm-trainer .btn-delete {
  right: -580px; 
}

.pkm-description h4 {
  font-weight: bolder;
  margin-bottom: 15px;
}

.pkm-description h5 {
  font-size: 18px;
  position: absolute; 
  top: 10px; 
  right: 40px
}

.pkm-description p {
  font-size: 14px;
}

.pkm-description .element {
  height: 30px;
  width: 30px;
}

.pkm-description h4 {
}

.pkm-description h5 {
  margin-top: 20px;
}

.poke {
  margin-top: 30px;
}

.btn {
  position: relative;
  margin-top: 30px;
  right: 0px;
  background-color: gold;
  border: 0px;
  margin-bottom: 30px;
}

.btn-book {
  background-color: black;
  margin-top: -15px; 
}

.review {
  border: 1px solid darkgrey;
  background-color: white;
}

.review .avatar {
  width: 18px; 
  height: 18px;
  margin-right: 10px;
}
.review p {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.review .useremail {
  font-size: 12px;
  margin-left: 10px; 
}

h4 {
  font-weight: 900;
}

.pokemon-product {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.pokemon-product-index {
  height: 50%;
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-xl-4 {
  max-width: 32%; 
}

.col-xl-8 {
  max-width: 68%

}
